@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%,95%);
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}


.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: hsl(0, 0%,30%);
  color: white;
}

.row{
  margin: 8px 0;
  /* background-color: hsl(0, 0%,15%); */
    border-radius: 15px;
    overflow: hidden;
    color: white;
}
.row input{
  width: 291px;
  font-size: 20px;
  text-align: left;
    margin: 0;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: hsl(0, 0%,20%);
}

button:hover{
  background-color: hsl(0, 0%,40%);
}

button:active{
  background-color: hsl(0, 0%,50%);
}

.btn{
  background-color: hsl(260, 100%, 50%);
}

btn:hover{
  background-color: hsl(224, 100%, 65%);
}

btn:active{
  background-color: hsl(224, 100%, 65%);
}